body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* To ensure the form takes up the full width of the container */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1877f2;
}

.form-group {
  margin-bottom: 15px;
  display: flex; /* Use flexbox to align label and input elements side by side */
  flex-direction: column; /* Arrange label and input elements in a column */
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}
